
<div class="container">
	<div class="row">
		<div class="favorite-title">Favorite / いいね</div>
	   		<% @favorites.each do |favorite| %>
				  <div class="favorite-festival-index">
				  	<div class="checkbox-size">
					<%= check_box_tag 'favorites[]', favorite.id, false, {id: favorite.id, form: "formtag"}%>
			        </div>
					　<div class="col-xs-11">

		                <div class="favorite-festival-image">
					    <%= attachment_image_tag favorite.festival, :image, :fill, 230, 230, format: 'jpg', fallback: "no_image.jpg" %>
			            </div>

						<div class="festival-event-date">
					        <%= favorite.festival.event_date %>
					    </div>

						<div class="favorite-festival-name">
							<%= favorite.festival.festival_name.name %>
						</div>

						<div class="favorite-festival-place">
					        @ <%= favorite.festival.place.name %>
					    </div>

					    <div class="favorite-festival-body">
					        <%= favorite.festival.body %>
					    </div>
				    </div>
				　</div>
	        <% end %>
    </div>
</div>

　　　　	<%= form_tag(destroy_all_path, method: :delete, id:"formtag") do %>
		  <div class="destroy-favorite-box">
		    <%= submit_tag "チェックしたアイテムを削除" %>
		  </div>
	    <% end %>

        <div class="favorite-pagenate"><%= paginate @favorites %></div>
