<div class="signin-bg-img">
  <div class="container">
    <div class="row">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="signin-form">
          <%= f.label :Email_メールアドレス %><br />
          <%= f.email_field :email, placeholder: "email", autofocus: true, autocomplete: "email", class:"col-auto form-control form-control-lg  box-for-login" %>

          <%= f.label :Password_パスワード %><br />
          <%= f.password_field :password, placeholder: "6 characters or more", autocomplete: "current-password", class:"col-auto form-control form-control-lg" %>
        </div>

        <div class="signin-create-account">
          <%= f.submit "Sign In", class:"btn btn-warning btn-lg" %>
        </div>
      <% end %>
    </div>
    <div class="test-user-signin" style="margin-bottom: 10px;">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.hidden_field :email, value: "testt@testt" %>
        <%= f.hidden_field :password, value: "testtest" %>
        <%= f.submit "Trial Login / 簡単ログイン", class:"btn"%>
      <% end %>
    </div>
  </div>
</div>
