

<%#= render 'admin/sidemenu' %>

<div class="container">
	<div class="row">
		<div class="col-xs-9">

			<h2 class="label-place">開催地の編集・削除</h2>
			<div class="place-border"></div>

			<div class="col-xs-6 col-xs-offset-3 place-category-box">
			  <%= form_for @place, url: admin_place_path do |f| %>

			  <%= f.label :開催地 %>
			  <%= f.text_field :name, autofocus: true %>

			  <%= f.submit '保存する', class: "btn btn-primary" %>

			  <%= link_to '削除する', admin_place_path, method: :delete ,"data-confirm" => "本当に消しますか？" ,class: 'btn btn-danger' %>

			  <% end %>
			</div>
		</div>
	</div>
</div>
