<div class="user-edit-bg-img">
  <% if flash[:alert] %>
    <div class="flash-alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
<br>
<br>
  <div class="user-edit-title">Editing / ﾍﾝｼｭｳ</div>

    <div class="container">
      <div class="row">
      	<%= form_for(@user) do |f| %>

          <div class="edit-image-position">
              <%= image_tag @user.image.url, :size => '300x350' %></br>
              <%= f.file_field :image %>
          </div>
            <div class="edit-form-position">
              <%= f.label :Email %></br>
              <%= f.email_field :email, autocomplete: "email", class:"col-auto form-control form-control-lg w-100" %>

              <%= f.label :Nickname %></br>
              <%= f.text_field :nickname, autofocus: true, class:"col-auto form-control form-control-lg w-100" %>

              <%= f.label :Favorite_Artist %></br>
              <%= f.text_field :favorite_artists, autofocus: true, class:"col-auto form-control form-control-lg w-100" %>

              <%= f.label :Residence %></br>
              <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %></br>

              <%= f.label :Introduction %>
              <%= f.text_area :introduction, autocomplete: "introduction", class:"col-auto form-control form-control-lg w-100" %>

              <div class="edit-update">
                <br>
                <br>
                <%= f.submit "Update", class: "btn btn-info btn-lg w-100" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
</div>