

	<div class="container">
	  <div class="row">
	  	<h2 class="user-edit-title">アカウント情報の編集</h2>

		<%= form_for(@user) do |f| %>
			<div class="user-edit">

                <div class="col-xs-3 col-xs-offset-3">
                      <%= f.label :ニックネーム, class: "float-left" %><br />
                      <%= f.text_field :nickname, autofocus: true, class:"col-auto form-control form-control-lg w-100" %>
                </div>

                <div class="col-xs-3">
                    <%= f.label :好きなアーティスト, class: "float-left" %><br />
                    <%= f.text_field :favorite_artists, autofocus: true, class:"col-auto form-control form-control-lg w-100" %>
                </div>

                <div class="col-xs-3 col-xs-offset-3">
                  <%= f.label :居住地, class: "float-left" %><br />
                  <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
                </div>

                <div class="col-xs-6 col-xs-offset-3">
                  <%= f.label :メールアドレス %><br />
                  <%= f.email_field :email, autocomplete: "email", class:"col-auto form-control form-control-lg w-100" %>
                </div>

                <div class="col-xs-6 col-xs-offset-3">
                  <%= f.label :パスワード %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class:"col-auto form-control form-control-lg w-100" %>
                </div>

                <div class="col-xs-6 col-xs-offset-3">
                  <%= f.label :パスワード（確認） %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-auto form-control form-control-lg w-100" %>
                </div>

                <div class="edit-image-position">
                  <div class="col-xs-3">
                      <%= image_tag f.image.to_s %>
                  </div>
                </div>

            </div>

                <div class="row end_user text-center">
                  <div class="space"></div>
	                <%= f.submit "保存する", class: "btn btn-success mx-auto btn-lg" %>
                </div>
	    <% end %>


 		      <div class="row">
	 			<div class="col-xs-8 col-xs-offset-2">
			          <%= link_to "< マイページへ", mypage_path %>
	  			</div>
 		      </div>
      </div>
    </div>

