
<div class="container">
  <div class="row">
	<div class="user-index">
	  <span class="users-title-index">All Users</span>
	</div>

	  <div class="row">
	   	<% @users.each do |user| %>
		  <div class="col-xs-3">
	   	    <div class="col-xs-11">
	        <%#= link_to item_path(item1.id) do %>
	          <div class="user-index-box">
	            <div class="user-index-image">
			      <% if user.image %>
	                  <%= image_tag "/no_image.jpg" %>
	              <% else %>
	                  <%= image_tag image.url %>
	              <% end %>
			    </div>

			    <% unless current_user == user %>
	              <% if current_user.following?(user) %>
				    <%= form_with url: user_relationship_path, html: { method: :delete } do |f| %>
				      <%= hidden_field_tag '[user_relationship][user_id]', current_user.id %>
				      <%= hidden_field_tag '[user_relationship][follow_id]', user.id %>

				      <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
				    <% end %>
				  <% else %>
				    <%= form_with url: user_relationship_path, html: { method: :post } do |f| %>
				      <%= hidden_field_tag '[user_relationship][user_id]', current_user.id %>
				      <%= hidden_field_tag '[user_relationship][follow_id]', user.id %>
				      <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
				    <% end %>
				  <% end %>
				<% end %>


				<div class="user-index-nickname">
			        <%= user.nickname %>
			    </div>

				<div class="user-index-favorite-artist">
					<%= user.favorite_artists %>
				</div>

				<div class="user-index-prefecture">
			        <%= user.prefecture %>
			    </div>
			  </div>
			</div>
		  </div>
		<% end %>
	  </div>
  </div>
</div>