
<div class="container">
  <div class="row">
	<div class="user-index">
	  <span class="users-title-index">All Users</span>
	</div>

　　　<div class="row">
	   	<% @users.each do |user| %>
		  <div class="col-xs-3">
	        <%#= link_to item_path(item1.id) do %>
	          <div class="user-index-box">
	            <div class="user-index-image">
			      <% if user.image.blank? %>
	                  <%= image_tag "/no_image.jpg" %>
	              <% else %>
	                  <%= image_tag "#{user.image}", class: "pimg" %>
	              <% end %>
			    </div>

			     <% if current_user != user %>
			        <% if user.followed_by?(current_user) %>
			            <p><%=link_to "Unfollow", user_user_relationship_path(user.id), method: :delete %></p>
			        <% else %>
			            <p><%=link_to "Follow", user_user_relationship_path(user.id), method: :post %></p>
			        <% end %>
			    <% end %>

			    <%= link_to "DM", room_path(current_user.id), class: 'btn btn-default' %>

				<div class="user-index-nickname">
			        <%= user.nickname %>
			    </div>

				<div class="user-index-favorite-artist">
					<%= user.favorite_artists %>
				</div>

				<div class="user-index-prefecture">
			        <%= user.prefecture %>
			    </div>
			  </div>
		  </div>
		<% end %>
	</div>
	  <div class="user-index-border"></div>
  </div>
</div>