
<div class="container">

    <div class="row  text-center row-eq-height">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="col-xs-6">
        	<%= link_to post_path, class:'link-menu' do %>
            <div class="jumbotron text-center">
              <span class="icon glyphicon glyphicon-camera" style="font-size: 60px"></span>
              <h3 class="menu">My Post</h3>
                <div class="content">自分の投稿一覧が見れます。</div>
            </div>
        </div>
            <% end %>

        <div class="col-xs-6">
        	<%= link_to follows_path(current_user.id), class:'link-menu' do %>
            <div class="jumbotron text-center">
              <span class="icon glyphicon glyphicon-user" style="font-size: 60px"></span>
              <h3 class="menu">Follow</h3>
                <div class="content">フォローの確認と削除<br>ができます。</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row  text-center row-eq-height">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="col-xs-6">
          <%= link_to favorites_path, class:'link-menu' do %>
            <div class="jumbotron text-center">
              <span class="icon glyphicon glyphicon-heart" style="font-size: 60px"></span>
              <h3 class="menu">Favorite Festivals</h3>
                <div class="content">いいねしたフェスの確認と削除<br>ができます。</div>
            </div>
          <% end %>
        </div>


        <div class="col-xs-6">
          <%= link_to user_path(current_user.id), class:'link-menu' do %>
            <div class="jumbotron text-center">
              <span class="icon glyphicon glyphicon-cog" style="font-size: 60px"></span>

              <h3 class="menu">My Profile</h3>
                <div class="content">プロフィールの確認,<br>変更ができます。</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row text-center"><%= link_to '退会', exit_path(current_user.id), class: "btn btn-default" %></div>
</div>