<div class="bg-img">
  <div class="container">
    <br>
      <%= link_to post_path, class:'link-menu' do %>
        <div class="jumbotron">
          <div class="title-menu">My Post</div>
          <div class="mypage-content"> ー 自分の投稿一覧が見れます ー </div>
        </div>
      <% end %>
      <%= link_to follows_path(current_user.id), class:'link-menu' do %>
        <div class="jumbotron">
          <div class="title-menu">Follows</div>
          <div class="mypage-content"> ー フォローの確認と削除ができます ー </div>
        </div>
      <% end %>
      <%= link_to favorites_path, class:'link-menu' do %>
        <div class="jumbotron">
          <div class="title-menu">Favorite Festivals</div>
          <div class="mypage-content"> ー いいねしたフェスの確認と削除ができます ー </div>
        </div>
      <% end %>
      <%= link_to user_path(current_user.id), class:'link-menu' do %>
        <div class="jumbotron">
          <div class="title-menu">My Profile</div>
          <div class="mypage-content"> ー プロフィールの確認,変更ができます ー </div>
        </div>
      <% end %>
    <div class="mypage-exit"><%= link_to 'Delete account', exit_path(current_user.id), class: "btn btn-danger btn-lg", :style=>"width:165px; height:50px;" %></div>
  </div>
</div>
