
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="memory-index">
        <span class="memories-title">My Memory</span>
      </div>

		  <% if @memory.present? %>
            <% if memory.memory_photos.length == 0 %>
               <%= image_tag "/no_image.jpg", :size => '250x250' %>
            <% else %>
               <% memory.memory_photos.each do |photo| %>
                  <%= image_tag photo.image.url, :size => '250x250' %>
               <% end %>
            <% end %>
				<div class="memory-name">
			        <%= memory.user.nickname %>
			    </div>

				<div class="memory-post-date">
					<%= memory.post_date %>
				</div>

				<div class="memory-spot">
			        <%= memory.spot %>
			    </div>

			    <div class="memory-title">
			        <%= memory.title %>
			    </div>

			    <div class="memory-body">
			        <%= memory.body %>
			    </div>
		  <% end %>
	</div>
  </div>

  <div class="row">
    <div class="col-xs-3">
	  <div class="recommend-index">
	    <span class="recommends-title">My Recommend</span>
	  </div>

		  <% if @recommend.present? %>
	        <%#= link_to item_path(item1.id) do %>
            <% if recommend.recommend_photos.length == 0 %>
               <%= image_tag "/no_image.jpg", :size => '250x250' %>
            <% else %>
               <% recommend.recommend_photos.each do |photo| %>
                  <%= image_tag photo.image.url, :size => '250x250' %>
               <% end %>
            <% end %>
				<div class="recommend-name">
			        <%= recommend.user.nickname %>
			    </div>

				<div class="recommend-post-date">
					<%= recommend.post_date %>
				</div>

				<div class="recommend-spot">
			        <%= recommend.spot %>
			    </div>

			    <div class="recommend-title">
			        <%= recommend.title %>
			    </div>

			    <div class="recommend-body">
			        <%= recommend.body %>
			    </div>
		  <% end %>
    </div>
  </div>
</div>
