<div class="bg-color-gray">
	<div class="container">
      <br>
	  <br>
	    <div class="post-name"><%= @user.nickname %> ’s Post</div>
	  <br>
	  <br>
		<span class="posts-title">Memory</span>
	  <br>
	  <br>
	    <div class="row">
	      <% @memories.each do |memory| %>
	        <div class="col-sm-3">
	          <div class="col-sm-12">
			    <%= link_to (memory_path(memory.id)) do %>
				  <% if memory.present? %>
			        <% if memory.memory_photos.length == 0 %>
			           <%= image_tag "/no_image.jpg", class: "post-img" %>
			        <% else %>
			           <% memory.memory_photos.each do |photo| %>
			              <%= image_tag photo.image.url, class: "post-img" %>
			           <% end %>
			        <% end %>
			      <% end %>
			    <% end %>
					<div class="my-post-date">
					  <%= l(memory.created_at, format: :short) %>
					</div>

					<div class="my-post-title">
				      <%= link_to memory.title, memory_path(memory.id), :style=>"color:#333;" %>
				    </div>

					<div class="my-post-spot">
				      @ <%= link_to memory.spot, memory_path(memory.id), :style=>"color:#777777;" %>
				    </div>
		      </div>
			</div>
	      <% end %>
	    </div>

	    <span class="posts-title">Recommend</span>
	    <br>
	    <br>
	    <div class="row">
	      <% @recommends.each do |recommend| %>
	        <div class="col-sm-3">
	          <div class="col-sm-12">
		        <%= link_to (recommend_path(recommend.id)) do %>
				  <% if recommend.present? %>
		            <% if recommend.recommend_photos.length == 0 %>
		               <%= image_tag "/no_image.jpg", class: "post-img" %>
		            <% else %>
		               <% recommend.recommend_photos.each do |photo| %>
		                  <%= image_tag photo.image.url, class: "post-img" %>
		               <% end %>
		            <% end %>
		          <% end %>
	            <% end %>
					<div class="my-post-date">
			          <%= l(recommend.created_at, format: :short) %>
					</div>

					<div class="my-post-title">
				      <%= link_to recommend.title, recommend_path(recommend.id), :style=>"color:#333;" %>
				    </div>

					<div class="my-post-spot">
				      @ <%= link_to recommend.spot, recommend_path(recommend.id), :style=>"color:#777777;" %>
				    </div>
			  </div>
		    </div>
		  <% end %>
	    </div>
	</div>
</div>
