<div class="user-show-bg-img">
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <br>
  <br>
  <div class="user-confirm-title">
    About <%= @user.nickname %>
  </div>
    <div class="container">
      <div class="row">
        <%= form_for(@user) do |f| %>

          <div class="confirm-image-position">
           <%= image_tag @user.image.url, :size => '290x330' %>
          </div>

          <div class="user-show-form">
            <label class="user-show-label">Nickname/ </label>
              <div class="user-show-nickname">
                <%= @user.nickname %>
              </div>

            <label class="user-show-label">Favorite Artist/ </label>
              <div class="user-show-artist">
                <%= @user.favorite_artists %>
              </div>

            <label class="user-show-label">Residence/ </label>
              <div class="user-show-prefecture">
                <%= @user.prefecture.name %>
              </div>
          </div>

            <label class="user-introduction-label">Introduction/ </label>
              <div class="user-show-introduction">
                <%= @user.introduction %>
              </div>
        <% end %>
      </div>
      <div class="link-to-user-edit">
        <% if current_user == @user %>
          <%= link_to "Edit", edit_user_path(current_user.id), class: "btn btn-info btn-lg w-25" %>
        <% end %>
      </div>
    </div>
</div>
