
<div class="container">
  <div class="row">
  	<h2 class="user-confirm-title1">User Confirmation </h2>
     <div class="user-confirm-title2">/ 確認</div>
       <div class="col-xs-8 col-xs-offset-2">

    		 <%= form_for(@user) do |f| %>

            <div class="conform-image-position">
              <div class="col-xs-3">
               <%= image_tag @user.image.url %>
              </div>
            </div>

            <div class="conform-form-position">
              <div class="col-xs-3 col-xs-offset-3">
                <label class="float-left">ニックネーム </label>
                <input type="text" class="col-auto form-control" value="<%= @user.nickname %>" readonly>
              </div>

              <div class="col-xs-3">
                <label class="float-left">好きなアーティスト </label>
                <input type="text" class="col-auto form-control" value="<%= @user.favorite_artists %>" readonly>
              </div>

              <div class="col-xs-3 col-xs-offset-3">
                <div class="col-xs-3 col-xs-offset-3">
                  <%= f.label :居住地, class: "float-left" %><br />
                  <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, {:disabled => true} %>
                </div>
              </div>

              <div class="col-xs-6 col-xs-offset-3">
                <label class="control-label" for="InputText">メールアドレス </label>
                <input type="text" class="col-auto form-control" id="InputText" value="<%= @user.email %>" readonly>
              </div>
            </div>
    	   <% end %>
       </div>
  </div>
</div>


     <div class="row">
        <%= link_to "編集する", edit_user_path(current_user.id), class: "btn btn-success mx-auto btn-lg" %>
     </div>

     <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
          <%= link_to "< マイページへ", mypage_path %>
      </div>
    </div>