
<div class="container">
  <div class="row">
  	<h2 class="user-confirm-title1">User Confirmation </h2>
     <div class="user-confirm-title2">/ 確認</div>
       <div class="col-xs-10 col-xs-offset-3">

    		 <%= form_for(@user) do |f| %>

            <div class="col-xs-3">
             <%= image_tag @user.image.url %>
            </div>

            <div class="confirm-form">
              <div class="col-xs-4 col-xs-offset-1">
                <label class="float-left">ニックネーム </label>
                <input type="text" class="col-auto form-control" value="<%= @user.nickname %>" readonly>
              </div>

              <div class="col-xs-4 col-xs-offset-1">
                <label class="float-left">好きなアーティスト </label>
                <input type="text" class="col-auto form-control" value="<%= @user.favorite_artists %>" readonly>
              </div>

              <div class="col-xs-5 col-xs-offset-1">
                <%= f.label :居住地, class: "float-left" %><br />
                <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, {:disabled => true} %>
              </div>

              <div class="col-xs-4 col-xs-offset-1">
                <label class="control-label" for="InputText">メールアドレス </label>
                <input type="text" class="col-auto form-control" id="InputText" value="<%= @user.email %>" readonly>
              </div>
            </div>
    	   <% end %>
       </div>
  </div>
</div>

<br>
<br>

     <div class="row">
      <div class="link-to-edit">
        <div class="col-xs-8 col-xs-offset-5">
          <%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-default mx-auto btn-lg" %>
        </div>
      </div>
    </div>
