<div class="recommend-edit-caption">Edit / ﾍﾝｼｭｳ</div>
  <div class="row">
	<div class="recommend-post-edit-img">
		<% if @recommend.present? %>
	      <% if @recommend.recommend_photos.length == 0 %>
	        <%= image_tag "/no_image.jpg", :size => '520x370' %>
	    <% else %>
	      <% @recommend.recommend_photos.each do |photo| %>
	        <%= image_tag photo.image.url, :size => '520x370' %>
	      <% end %>
	      <% end %>
	    <% end %>
	</div>

	<div class="recommend-edit-name">
		<%= image_tag @recommend.user.image.url, class: "current-user-img" %>
	    <%= link_to @recommend.user.nickname,  post_path(@recommend.user) %> さんの投稿
	</div>

	<div class="recommend-edit-create-date">
		<%= l(@recommend.created_at, format: :short) %>
	</div>
      <%= form_for(@recommend) do |f| %>
		<div class="recommend-edit-spot">
	      Place : <br><%= f.text_field :spot, autofocus: true, placeholder: "オススメの場所を入力してください", :size => "80*20", class: "form-control" %>
		</div>

		<div class="recommend-edit-title">
		  Title : <br><%= f.text_field :title, autofocus: true, placeholder: "タイトルを入力してください", :size => "80*20", class: "form-control" %>
		</div>

		<div class="recommend-edit-body">
		  Text : <br><%= f.text_area :body, autofocus: true, placeholder: "本文を入力してください", :size => "80*40", class: "form-control" %>
	    </div>
	    <div class="recommend-update-btn">
	      <%= f.submit "Update", class: "btn btn-outline-primary btn-lg" %>
	    </div>
	<% end %>
  </div>