<div class="bg-color-gray">
	<% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
    <% end %>
	<div class="container">
	  <span class="post-index-caption">Recommends</span>
		<%= link_to new_recommend_path,data: {"turbolinks" => false} do %>
		  <span class="post-index-font"> Let's POST </span>
		  <i class="far fa-arrow-alt-circle-left"></i>
		<% end %>
		<br>
		<br>
		<br>
		  <div class="row">
		  	<% @recommends.each do |recommend| %>
			  <div class="col-sm-4">
			  	<div class="col-sm-12">
				    <% if recommend.present? %>
			          <% if recommend.recommend_photos.length == 0 %>
			            <%= image_tag "/no_image.jpg", class: "post-index-img" %>
			          <% else %>
			            <% recommend.recommend_photos.each do |photo| %>
			              <%= image_tag photo.image.url, class: "post-index-img" %>
			            <% end %>
			          <% end %>
			            <div class="post-index-created">
					      <%= l(recommend.created_at, format: :short) %>
						</div>
			            <div class="post-index-name">
					      <%= link_to recommend.user.nickname, post_path(recommend.user), :style=>"color:#777777;" %> 's Post
					    </div>
						<div class="post-index-spot">
					      <%= recommend.spot %>
					    </div>
					    <div class="post-index-title">
					      <%= link_to recommend.title, recommend_path(recommend.id), :style=>"color:#333;" %>
					    </div>
					    <div class="post-index-body">
					      <%= recommend.body %>
					    </div>
			        <% end %>
		        </div>
		      </div>
		    <% end %>
		  </div>
	</div>
    <div class="post-index-pagenate"><%= paginate @recommends %></div>
    <br>
</div>