
  <div class="container">
	<div calss="row">
		<div class="col-xs-6 col-xs-offset-3">
		  <%= form_for @recommend do |f| %>
			<table class="table table-striped table-bordered create-memory-table">
				<tbody>
					<tr>
					   <%= f.file_field :image %>
					</tr>
					<tr>
						<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfEiombqtK2bGlN0FZpHAL28zXb0Ptxew&callback=initMap" type="text/javascript"></script>
					</tr>
					<tr>
						<div class="">
							<td rowspan="2" class="recommend-table-height"><%= f.label :body, '内容 ' %></td>
							<td class="recommend-table-height"><%= f.text_area :body,class:"col-xs-8 recommend-height" %></td>
						</div>
					</tr>
				</tbody>
			</table>
			<%= f.submit 'Post', class:'btn btn-primary col-xs-4 col-xs-offset-4' %>
		  <% end %>
		</div>
		  <%= link_to root_path do %>
		    <div class="col-xs-2 col-xs-offset-3"><記事一覧へ戻る</div>
		  <% end %>
	</div>
  </div>