<div class="bg-color-gray">
	<% if flash[:notice] %>
	  <div class="flash">
	    <%= flash[:notice] %>
	  </div>
	<% end %>
  <div class="row">
  	<div class="bg-box-white">
		<div class="post-show-img">
			<% if @recommend.present? %>
		      <% if @recommend.recommend_photos.length == 0 %>
		        <%= image_tag "/no_image.jpg", :size => '600x350' %>
		    <% else %>
		      <% @recommend.recommend_photos.each do |photo| %>
		        <%= image_tag photo.image.url, :size => '600x350' %>
		      <% end %>
		    <% end %>
		</div>

		<div class="post-show-name">
		    <%= link_to @recommend.user.nickname,  post_path(@recommend.user), :style=>"color:#000000;" %> ’s Post
		</div>

		<div class="post-show-date-label">Date / ﾄｳｺｳﾋﾞ</div>

		<div class="post-show-date">
			<%= l(@recommend.created_at, format: :short) %>
		</div>

		<div class="post-show-spot-label">Spot / ｵｽｽﾒｽﾎﾟｯﾄ</div>

		<div class="post-show-spot">
		    <%= @recommend.spot %>
		</div>

		<div class="post-show-title-label">Title / ﾀｲﾄﾙ</div>

		<div class="post-show-title">
		    <%= @recommend.title %>
		</div>

		<div class="post-show-body-label">Content / ﾅｲﾖｳ</div>

		<div class="post-show-body">
		  <div id="text-container" style="height: 150px; width: 1070px; overflow: scroll; margin: 20px; padding: 10px; background-color:#FFF;">
		    <%= @recommend.body %>
		  </div>
	    </div>
		<% end %>
	</div>
  </div>
  <div class="other-post">
<%= link_to 'See other posts', post_path(@recommend.user), :style=>"color:#000000;" %> <i class="far fa-arrow-alt-circle-right"></i>
 </div>
</div>
<% if current_user == @recommend.user %>
<div class="post-show-link-edit">
　　<i class="fa fa-edit"></i> <%= link_to 'Edit', edit_recommend_path(@recommend), :style=>"color:#000000;" %> |
</div>
<div class="post-show-link-destroy">
　　<i class="far fa-trash-alt"></i> <%= link_to 'Destroy', recommend_path, method: :delete, data: { confirm: '本当に消しますか?' }, :style=>"color:#000000;" %>
</div>
<% end %>


