<div class="row">
	<div class="recommend-post-show-img">
		<% if @recommend.present? %>
	      <% if @recommend.recommend_photos.length == 0 %>
	        <%= image_tag "/no_image.jpg", :size => '520x370' %>
	    <% else %>
	      <% @recommend.recommend_photos.each do |photo| %>
	        <%= image_tag photo.image.url, :size => '520x370' %>
	      <% end %>
	    <% end %>
	</div>

	<div class="recommend-show-name">
		<%= image_tag @recommend.user.image.url, class: "current-user-img" %>
	    <%= link_to @recommend.user.nickname,  post_path(@recommend.user) %> さんの投稿
	</div>

	<div class="recommend-show-create-date">
		<%= l(@recommend.created_at, format: :short) %>
	</div>

	<div class="recommend-show-spot">
	    <%= @recommend.spot %>
	</div>

	<div class="recommend-show-title">
	    <%= @recommend.title %>
	</div>

	<div class="recommend-show-body">
	  <div id="text-container" style="height: 250px; width: 800px; overflow: scroll; margin: 20px; padding: 10px; background-color:#f0f8ff;">
	    <%= @recommend.body %>
	  </div>
    </div>
	<% end %>
</div>
<% if current_user == @recommend.user %>
  <%= link_to 'Edit', edit_recommend_path(@recommend) %> |
  <%= link_to 'Destroy', recommend_path, method: :delete, data: { confirm: '本当に消しますか?' } %>
<% end %>

