<%= form_for (@festival), url: admins_festivals_path do |f| %>
	<table class="table table-striped table-bordered">
		<tbody>
			<tr>
				<th>サムネイル</th>
				<th><%= attachment_image_tag @festival, :image, :fill, 50, 50, format: 'jpg', fallback: "no_image.jpg" %></th>
			</tr>

			<tr>
				<div class="field">
					<th><label class="festival-name">フェス名</label></th>
					<th><%= f.text_field :festival_name_id, id: "festival_festival_name_field", class:"col-xs-10　festival-name-field" %>
					    <%= link_to "登録", new_admins_festival_name_path, class:"btn btn-info item-registration-form" %>
					</th>
				</div>
			</tr>

			<tr>
				<div class="field">
				  <th><label class="event-date">開催日</label></th>
				    <th>
					  <div class="form-group">
						<div class="input-group date" id="date" date-target-input="nearest">
						<%= f.text_field :event_date, class:"form-control datetimepicker-input", data: {toggle: "datetimepicker", target: ".datetimepicker-input"}, placeholder: "YYYY/MM/DD" %>
						</div>
							<script type="text/javascript">
								$(function () {
					  			$(".datetimepicker-input").datetimepicker({
					  				format:'YYYY/MM/DD'
					  			});
								});
							</script>
					  </div>
				    </th>
				</div>
			</tr>

			<tr>
				<div class="field">
				  <th><label class="place">開催地</label></th>
				    <th>
					  <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
					  <%= f.text_field :place_id, id: "festival_place_name_field", class:"col-xs-10　place-name-field" %>
					  <%= link_to "登録", new_admins_place_path, class:"btn btn-info item-registration-form" %>
				    </th>
				</div>
			</tr>

			<tr>
			  <div class="field">
			    <th>
				  <label class="body">内容</label>
				</th>
				<th>
			      <%= f.text_area :body,class:"col-xs-12 contact-height" %>
				</th>
			  </div>
			</tr>
		</tbody>
	</table>

	<div class="row">
		<%= f.submit "登録", class:"col-xs-4 col-xs-offset-4 btn btn-primary" %>
	</div>
<% end %>