

<div class="container">
  <div class="row">
	<div class="follow-index">
	  <span class="follow-title-index">Follows</span>
	</div>

	  <div class="row">
	   	<% @followings.each do |follow| %>
		  <div class="col-xs-3">
	   	    <div class="col-xs-11">
	        <%#= link_to item_path(item1.id) do %>
	          <div class="follow-index-box">
	            <div class="follow-index-image">
			      <% if follow.image %>
	                  <%= image_tag "/no_image.jpg" %>
	              <% else %>
	                  <%= image_tag image.url %>
	              <% end %>
			    </div>

			    <% if current_user != follow %>
			        <% if follow.followed_by?(current_user) %>
			            <p><%=link_to "Unfollow", user_user_relationship_path(follow.id), method: :delete %></p>
			        <% else %>
			            <p><%=link_to "Follow", user_user_relationship_path(follow.id), method: :post %></p>
			        <% end %>
			    <% end %>

				<div class="follow-index-nickname">
			        <%= follow.nickname %>
			    </div>

				<div class="user-index-favorite-artist">
					<%= follow.favorite_artists %>
				</div>

				<div class="user-index-prefecture">
					<%= follow.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, {:disabled => true} %>
			        <%#= follow.prefecture %>
			    </div>
			  </div>
			</div>
		  </div>
		<% end %>
	  </div>
  </div>
</div>