
<div class="container">
	<div class="row">
		<div class="festival-location1">
			<a href="#hokkaido" class="hok">Hokkaido / 北海道</a>
			<div class="hokkaido-festival-text">RISING SUN ROCK FESTIVAL</div>
			<div class="hokkaido-festival-text">JOIN ALIVE</div>
			<a href="#tohoku" class="toh">Tohoku / 東北</a>
			<div class="tohoku-festival-text">ARABAKI ROCK FEST.20</div>
			<div class="tohoku-festival-text">ISHINOMAKI BUCHI ROCK</div>
			<div class="tohoku-festival-text">OGA NAMAHAGE ROCK FESTIVAL</div>
		</div>
		<div class="festival-location2">
			<a href="#kanto" class="kan">Kanto / 関東</a>
			<div class="kanto-festival-text">リスアニ!LIVE</div>
			<div class="kanto-festival-text">COUNTDOWN JAPAN</div>
			<div class="kanto-festival-text">ビクターロック祭り</div>
			<div class="kanto-festival-text">JAPAN JAM</div>
			<div class="kanto-festival-text">VIVA LA ROCKL</div>
			<div class="kanto-festival-text">ROCK IN JAPAN FESTIVAL</div>
			<div class="kanto-festival-text">ULTRA JAPAN</div>
			<div class="kanto-festival-text">MUSIC COMPLEX</div>
			<div class="kanto-festival-text">METROCK</div>
			<div class="kanto-festival-text">SUMMER SONIC</div>
			<div class="kanto-festival-text">氣志團万博</div>
		</div>
		<div class="festival-location3">
			<a href="#chubu" class="chub">Chubu / 中部</a>
			<div class="chubu-festival-text">YON FES 2020</div>
			<div class="chubu-festival-text">マグロック</div>
			<div class="chubu-festival-text">森、道、市場 2019</div>
			<div class="chubu-festival-text">TREASURE05X</div>
			<div class="chubu-festival-text">中津川 THE SOLAR BUDOKAN</div>
			<div class="chubu-festival-text">SWEET LOVE SHOWER 2020</div>
			<div class="chubu-festival-text">FUJI ROCK FESTIVAL ’20</div>
			<div class="chubu-festival-text">音楽と髭達</div>
			<a href="#kinki" class="kin">Kinki / 近畿</a>
			<div class="kinki-festival-text">RADIO CRAZY</div>
			<div class="kinki-festival-text">ポルノ超特急</div>
			<div class="kinki-festival-text">METROPOLITAN ROCK FESTIVAL</div>
			<div class="kinki-festival-text">HIGH! HIGH! HIGH!</div>
			<div class="kinki-festival-text">SUMMER SONIC</div>
			<div class="kinki-festival-text">RUSH BALL</div>
			<div class="kinki-festival-text">OTODAMA</div>
			<div class="kinki-festival-text">京都大作戦</div>
		</div>
		<div class="festival-location4">
			<a href="#chugoku" class="chug">Chugoku / 中国</a>
			<div class="chugoku-festival-text">桃太郎フェス</div>
			<div class="chugoku-festival-text">WILD BUNCH FEST.</div>
			<a href="#shikoku" class="shi">Shikoku / 四国</a>
			<div class="shikoku-festival-text">MONSTER baSH</div>
			<a href="#kyushu" class="kyu">Kyushu / 九州</a>
			<div class="kyushu-festival-text">NUMBER SHOT</div>
			<div class="kyushu-festival-text">Sky Jamboree</div>
			<a href="#okinawa" class="oki">Okinawa / 沖縄</a>
			<div class="okinawa-festival-text">MIYAKO ISLAND ROCK FESTIVAL</div>
		</div>
	</div>



	<div class="row">
	  <div class="hokkaido-text-color">
	  	<a id="hokkaido">Hokkaido / 北海道</a>
	  <div>
	  	<div class="row">
	   	  <% @hokkaido_festivals.each do |festival| %>
		    <div class="col-xs-3">
	   		  <div class="col-xs-11">

                <div class="festival-image">
			    <%= attachment_image_tag festival, :image, :fill, 230, 230, format: 'jpg', fallback: "no_image.jpg" %>
	            </div>

				<div class="festival-event-date">
			        <%= festival.event_date %>
			    </div>

			    <div class="favorite-festival">
			      <% if festival.favorited_by?(current_user) %>
			        <%= link_to festival_favorite_path(festival), method: :delete do %>
			       	  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
				    <% end %>
				  <% else %>
				    <%= link_to festival_favorite_path(festival), method: :post do %>
				      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
				    <% end %>
				  <% end %>
			    </div>

				<div class="festival-name">
					<%= festival.festival_name.name %>
				</div>

				<div class="festival-place">
			        @ <%= festival.place.name %>
			    </div>

			    <div class="festival-body">
			        <%= festival.body %>
			    </div>
	          </div>
			</div>
	      <% end %>
	    </div>
    </div>

	<div class="row">
        <div class="tohoku-text-color">
        	<a id="tohoku">Tohoku / 東北</a>
        </div>
          <div class="row">
   		    <% @tohoku_festivals.each do |festival| %>
   		      <div class="col-xs-3">
	   		    <div class="col-xs-11">
	                <div class="festival-image">
				    <%= attachment_image_tag festival, :image, :fill, 230, 230, format: 'jpg', fallback: "no_image.jpg" %>
		            </div>

					<div class="festival-event-date">
				        <%= festival.event_date %>
				    </div>

				    <div class="favorite-festival">
				      <% if festival.favorited_by?(current_user) %>
				        <%= link_to festival_favorite_path(festival), method: :delete do %>
				       	  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
					    <% end %>
					  <% else %>
					    <%= link_to festival_favorite_path(festival), method: :post do %>
					      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					    <% end %>
					  <% end %>
				    </div>

					<div class="festival-name">
						<%= festival.festival_name.name %>

					</div>

					<div class="festival-place">
				      @ <%= festival.place.name %>
				    </div>

				    <div class="festival-body">
				        <%= festival.body %>
				    </div>
			    </div>
			  </div>
           <% end %>
          </div>
	</div>


	<div class="row">
        <div class="kanto-text-color">
        	<a id="kanto">Kanto / 関東</a>
        </div>
          <div class="row">
   		    <% @kanto_festivals.each do |festival| %>
              <div class="col-xs-3">
	   		    <div class="col-xs-11">
	                <div class="festival-image">
				    <%= attachment_image_tag festival, :image, :fill, 230, 230, format: 'jpg', fallback: "no_image.jpg" %>
		            </div>

					<div class="festival-event-date">
				        <%= festival.event_date %>
				    </div>

				        <div class="favorite-festival">
					      <% if festival.favorited_by?(current_user) %>
					        <%= link_to festival_favorite_path(festival), method: :delete do %>
					       	  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
						    <% end %>
						  <% else %>
						    <%= link_to festival_favorite_path(festival), method: :post do %>
						      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						    <% end %>
						  <% end %>
					    </div>

					<div class="festival-name">
						<%= festival.festival_name.name %>
					</div>

					<div class="festival-place">
				      @ <%= festival.place.name %>
				    </div>

				    <div class="festival-body">
				        <%= festival.body %>
				    </div>
			    </div>
			  </div>
           <% end %>
          </div>
    </div>

    <div class="row">
        <div class="chubu-text-color">
        	<a id="chubu">Chubu / 中部</a>
        </div>
          <div class="row">
   		    <% @chubu_festivals.each do |festival| %>
              <div class="col-xs-3">
	   		    <div class="col-xs-11">
	                <div class="festival-image">
				    <%= attachment_image_tag festival, :image, :fill, 230, 230, format: 'jpg', fallback: "no_image.jpg" %>
		            </div>

					<div class="festival-event-date">
				        <%= festival.event_date %>
				    </div>

				        <div class="favorite-festival">
					      <% if festival.favorited_by?(current_user) %>
					        <%= link_to festival_favorite_path(festival), method: :delete do %>
					       	  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
						    <% end %>
						  <% else %>
						    <%= link_to festival_favorite_path(festival), method: :post do %>
						      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						    <% end %>
						  <% end %>
					    </div>

					<div class="festival-name">
						<%= festival.festival_name.name %>
					</div>

					<div class="festival-place">
				      @ <%= festival.place.name %>
				    </div>

				    <div class="festival-body">
				        <%= festival.body %>
				    </div>
				</div>
			  </div>
           <% end %>
          </div>
    </div>

    <div class="row">
    	<div class="kinki-text-color">
    		<a id="kinki">Kinki / 近畿</a>
    	</div>
    	  <div class="row">
		    <% @kinki_festivals.each do |festival| %>
              <div class="col-xs-3">
	   		    <div class="col-xs-11">
	                <div class="festival-image">
				    <%= attachment_image_tag festival, :image, :fill, 230, 230, format: 'jpg', fallback: "no_image.jpg" %>
		            </div>

					<div class="festival-event-date">
				        <%= festival.event_date %>
				    </div>

				        <div class="favorite-festival">
					      <% if festival.favorited_by?(current_user) %>
					        <%= link_to festival_favorite_path(festival), method: :delete do %>
					       	  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
						    <% end %>
						  <% else %>
						    <%= link_to festival_favorite_path(festival), method: :post do %>
						      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						    <% end %>
						  <% end %>
					    </div>

					<div class="festival-name">
						<%= festival.festival_name.name %>
					</div>

					<div class="festival-place">
				      @ <%= festival.place.name %>
				    </div>

				    <div class="festival-body">
				        <%= festival.body %>
				    </div>
			    </div>
			  </div>
           <% end %>
          </div>
    </div>

    <div class="row">
        <div class="chugoku-text-color">
        	<a id="chugoku">Chugoku / 中国</a>
        </div>
          <div class="row">
   		    <% @chugoku_festivals.each do |festival| %>
              <div class="col-xs-3">
   		        <div class="col-xs-11">
	                <div class="festival-image">
				    <%= attachment_image_tag festival, :image, :fill, 230, 230, format: 'jpg', fallback: "no_image.jpg" %>
		            </div>

					<div class="festival-event-date">
				        <%= festival.event_date %>
				    </div>

				        <div class="favorite-festival">
					      <% if festival.favorited_by?(current_user) %>
					        <%= link_to festival_favorite_path(festival), method: :delete do %>
					       	  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
						    <% end %>
						  <% else %>
						    <%= link_to festival_favorite_path(festival), method: :post do %>
						      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						    <% end %>
						  <% end %>
					    </div>

					<div class="festival-name">
						<%= festival.festival_name.name %>
					</div>

					<div class="festival-place">
				      @ <%= festival.place.name %>
				    </div>

				    <div class="festival-body">
				        <%= festival.body %>
				    </div>
			    </div>
			  </div>
           <% end %>
          </div>
    </div>

    <div class="row">
    	<div class="shikoku-text-color">
    		<a id="shikoku">Shikoku / 四国</a>
    	</div>
    	  <div class="row">
   		    <% @shikoku_festivals.each do |festival| %>
              <div class="col-xs-3">
	   		    <div class="col-xs-11">
	                <div class="festival-image">
				    <%= attachment_image_tag festival, :image, :fill, 230, 230, format: 'jpg', fallback: "no_image.jpg" %>
		            </div>

					<div class="festival-event-date">
				        <%= festival.event_date %>
				    </div>

				        <div class="favorite-festival">
					      <% if festival.favorited_by?(current_user) %>
					        <%= link_to festival_favorite_path(festival), method: :delete do %>
					       	  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
						    <% end %>
						  <% else %>
						    <%= link_to festival_favorite_path(festival), method: :post do %>
						      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						    <% end %>
						  <% end %>
					    </div>

					<div class="festival-name">
						<%= festival.festival_name.name %>
					</div>

					<div class="festival-place">
				      @ <%= festival.place.name %>
				    </div>

				    <div class="festival-body">
				        <%= festival.body %>
				    </div>
			    </div>
			  </div>
           <% end %>
          </div>
    </div>

    <div class="row">
    	<div class="kyushu-text-color">
    		<a id="kyushu">Kyushu / 九州</a>
    	</div>
    	  <div class="row">
   		    <% @kyushu_festivals.each do |festival| %>
              <div class="col-xs-3">
	   		    <div class="col-xs-11">
	                <div class="festival-image">
				    <%= attachment_image_tag festival, :image, :fill, 230, 230, format: 'jpg', fallback: "no_image.jpg" %>
		            </div>

					<div class="festival-event-date">
				        <%= festival.event_date %>
				    </div>

				        <div class="favorite-festival">
					      <% if festival.favorited_by?(current_user) %>
					        <%= link_to festival_favorite_path(festival), method: :delete do %>
					       	  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
						    <% end %>
						  <% else %>
						    <%= link_to festival_favorite_path(festival), method: :post do %>
						      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						    <% end %>
						  <% end %>
					    </div>

					<div class="festival-name">
						<%= festival.festival_name.name %>
					</div>

					<div class="festival-place">
				      @ <%= festival.place.name %>
				    </div>

				    <div class="festival-body">
				        <%= festival.body %>
				    </div>
			    </div>
			  </div>
           <% end %>
          </div>
    </div>

    <div class="row">
        <div class="okinawa-text-color">
        	<a id="okinawa">Okinawa / 沖縄</a>
        </div>
          <div class="row">
   	        <% @okinawa_festivals.each do |festival| %>
              <div class="col-xs-3">
	   		    <div class="col-xs-11">
	                <div class="festival-image">
				    <%= attachment_image_tag festival, :image, :fill, 230, 230, format: 'jpg', fallback: "no_image.jpg" %>
		            </div>

					<div class="festival-event-date">
				        <%= festival.event_date %>
				    </div>

				        <div class="favorite-festival">
					      <% if festival.favorited_by?(current_user) %>
					        <%= link_to festival_favorite_path(festival), method: :delete do %>
					       	  <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
						    <% end %>
						  <% else %>
						    <%= link_to festival_favorite_path(festival), method: :post do %>
						      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						    <% end %>
						  <% end %>
					    </div>

					<div class="festival-name">
						<%= festival.festival_name.name %>
					</div>

					<div class="festival-place">
				      @ <%= festival.place.name %>
				    </div>

				    <div class="festival-body">
				        <%= festival.body %>
				    </div>
			    </div>
			  </div>
           <% end %>
          </div>
    </div>
</div>

<%= link_to "Back to top", root_path, class: 'btn btn-primary w-25' %>



