<div class="row">
	<div class="festival-location1">
		<a href="#hokkaido" class="hok">Hokkaido / ﾎｯｶｲﾄﾞｳ</a>
		<div class="hokkaido-festival-text">RISING SUN ROCK FESTIVAL</div>
		<div class="hokkaido-festival-text">JOIN ALIVE</div>
		<a href="#tohoku" class="toh">Tohoku / ﾄｳﾎｸ</a>
		<div class="tohoku-festival-text">ARABAKI ROCK FEST.20</div>
		<div class="tohoku-festival-text">ISHINOMAKI BUCHI ROCK</div>
		<div class="tohoku-festival-text">OGA NAMAHAGE ROCK FESTIVAL</div>
	</div>
	<div class="festival-location2">
		<a href="#kanto" class="kan">Kanto / ｶﾝﾄｳ</a>
		<div class="kanto-festival-text">リスアニ!LIVE</div>
		<div class="kanto-festival-text">COUNTDOWN JAPAN</div>
		<div class="kanto-festival-text">ビクターロック祭り</div>
		<div class="kanto-festival-text">JAPAN JAM</div>
		<div class="kanto-festival-text">VIVA LA ROCKL</div>
		<div class="kanto-festival-text">ROCK IN JAPAN FESTIVAL</div>
		<div class="kanto-festival-text">ULTRA JAPAN</div>
		<div class="kanto-festival-text">MUSIC COMPLEX</div>
		<div class="kanto-festival-text">METROCK</div>
		<div class="kanto-festival-text">SUMMER SONIC</div>
		<div class="kanto-festival-text">氣志團万博</div>
	</div>
	<div class="festival-location3">
		<a href="#chubu" class="chub">Chubu / ﾁｭｳﾌﾞ</a>
		<div class="chubu-festival-text">YON FES 2020</div>
		<div class="chubu-festival-text">マグロック</div>
		<div class="chubu-festival-text">森、道、市場 2019</div>
		<div class="chubu-festival-text">TREASURE05X</div>
		<div class="chubu-festival-text">中津川 THE SOLAR BUDOKAN</div>
		<div class="chubu-festival-text">SWEET LOVE SHOWER 2020</div>
		<div class="chubu-festival-text">FUJI ROCK FESTIVAL ’20</div>
		<div class="chubu-festival-text">音楽と髭達</div>
		<a href="#kinki" class="kin">Kinki / ｷﾝｷ</a>
		<div class="kinki-festival-text">RADIO CRAZY</div>
		<div class="kinki-festival-text">ポルノ超特急</div>
		<div class="kinki-festival-text">METROPOLITAN ROCK FESTIVAL</div>
		<div class="kinki-festival-text">HIGH! HIGH! HIGH!</div>
		<div class="kinki-festival-text">SUMMER SONIC</div>
		<div class="kinki-festival-text">RUSH BALL</div>
		<div class="kinki-festival-text">OTODAMA</div>
		<div class="kinki-festival-text">京都大作戦</div>
	</div>
	<div class="festival-location4">
		<a href="#chugoku" class="chug">Chugoku / ﾁｭｳｺﾞｸ</a>
		<div class="chugoku-festival-text">桃太郎フェス</div>
		<div class="chugoku-festival-text">WILD BUNCH FEST.</div>
		<a href="#shikoku" class="shi">Shikoku / ｼｺｸ</a>
		<div class="shikoku-festival-text">MONSTER baSH</div>
		<a href="#kyushu" class="kyu">Kyushu / ｷｭｳｼｭｳ</a>
		<div class="kyushu-festival-text">NUMBER SHOT</div>
		<div class="kyushu-festival-text">Sky Jamboree</div>
		<a href="#okinawa" class="oki">Okinawa / ｵｷﾅﾜ</a>
		<div class="okinawa-festival-text">MIYAKO ISLAND ROCK FESTIVAL</div>
	</div>
</div>
<br>
<br>
  <a id="hokkaido">ﾎｯｶｲﾄﾞｳ</a>
<br>
<br>
	<div class="row">
	  <%= render 'festivals/festival_list', festivals: @hokkaido_festivals %>
</div>
  <br>
  <br>
	<a id="tohoku">ﾄｳﾎｸ</a>
  <br>
  <br>
  <div class="row">
    <%= render 'festivals/festival_list', festivals: @tohoku_festivals %>
  </div>
  <br>
  <br>
	<a id="kanto">ｶﾝﾄｳ</a>
  <br>
  <br>
  <div class="row">
    <%= render 'festivals/festival_list', festivals: @kanto_festivals %>
  </div>
  <br>
  <br>
	<a id="chubu">ﾁｭｳﾌﾞ</a>
  <br>
  <br>
  <div class="row">
	<%= render 'festivals/festival_list', festivals: @chubu_festivals %>
  </div>
  <br>
  <br>
  	<a id="kinki">ｷﾝｷ</a>
  <br>
  <br>
  <div class="row">
    <%= render 'festivals/festival_list', festivals: @kinki_festivals %>
  </div>
  <br>
  <br>
	<a id="chugoku">ﾁｭｳｺﾞｸ</a>
  <br>
  <br>
  <div class="row">
	<%= render 'festivals/festival_list', festivals: @chugoku_festivals %>
  </div>
  <br>
  <br>
	<a id="shikoku">ｼｺｸ</a>
  <br>
  <br>
  <div class="row">
    <%= render 'festivals/festival_list', festivals: @shikoku_festivals %>
  </div>
  <br>
  <br>
    <a id="kyushu">ｷｭｳｼｭｳ</a>
  <br>
  <br>
  <div class="row">
    <%= render 'festivals/festival_list', festivals: @kyushu_festivals %>
  </div>
  <br>
  <br>
	<a id="okinawa">ｵｷﾅﾜ</a>
  <br>
  <br>
  <div class="row">
    <%= render 'festivals/festival_list', festivals: @okinawa_festivals %>
  </div>
  <br>
  <br>



