<div class="container">
   <div class="row">
      <div class="col-xs-12">

			<table>
			  <div class="memory-index">
			    <span class="memories-title">All Memories</span></div>
			      <div class="memory-new-link">
			      	<% link_to new_memory_path do %>
			          <span class="memory-plus"> メモリーを投稿する <i class="fas fa-plus"></i></span>
			        <% end %>
			      </div>

			        <% @memories.each_slice(4) do |memory1, memory2, memory3, memory4| %>

						<tbody>
						  <tr class="memory-index-tr">

							    <td class="memory-index-td">
								  <% if memory1.present? %>
							        <%#= link_to item_path(item1.id) do %>
			                        <% if memory1.memory_photos.length == 0 %>
			                           <%= image_tag "/no_image.jpg" %>
			                        <% else %>
			                           <% memory1.memory_photos.each do |photo| %>
			                              <%= image_tag photo.image.url %>
			                           <% end %>
			                        <% end %>
										<div class="memory-name">
									        <%= memory1.user.nickname %>
									    </div>

										<div class="memory-post-date">
											<%= memory1.post_date %>
										</div>

										<div class="memory-spot">
									        <%= memory1.spot %>
									    </div>

									    <div class="memory-title">
									        <%= memory1.title %>
									    </div>

									    <div class="memory-body">
									        <%= memory1.body %>
									    </div>
								    <% end %>
							     </td>

							    <td class="memory-index-td">
								  <% if memory2.present? %>
							        <%#= link_to item_path(item2.id) do %>
			                        <% if memory2.memory_photos.length == 0 %>
			                              <%= image_tag "/no_image.jpg" %>
			                          <% else %>
			                           <% memory2.memory_photos.each do |photo| %>
			                              <%= image_tag photo.image.url %>
			                          <% end %>
			                        <% end %>
										<div class="memory-name">
									        <%= memory2.user.nickname %>
									    </div>

										<div class="memory-post-date">
											<%= memory2.post_date %>
										</div>

										<div class="memory-spot">
									        <%= memory2.spot %>
									    </div>

									    <div class="memory-title">
									        <%= memory2.title %>
									    </div>

									    <div class="memory-body">
									        <%= memory2.body %>
									    </div>
								    <% end %>
							    </td>

							     <td class="memory-index-td">
								  <% if memory3.present? %>
							        <%#= link_to item_path(item2.id) do %>
								    <% if memory2.memory_photos.length == 0 %>
			                              <%= image_tag "/no_image.jpg" %>
			                          <% else %>
			                           <% memory2.memory_photos.each do |photo| %>
			                              <%= image_tag photo.image.url %>
			                          <% end %>
			                        <% end %>

										<div class="memory-name">
									        <%= memory3.user.nickname %>
									    </div>

										<div class="memory-post-date">
											<%= memory3.post_date %>
										</div>

										<div class="memory-spot">
									        <%= memory3.spot %>
									    </div>

									    <div class="memory-title">
									        <%= memory3.title %>
									    </div>

									    <div class="memory-body">
									        <%= memory3.body %>
									    </div>
								    <% end %>
							    </td>

							     <td class="memory-index-td">
								  <% if memory4.present? %>

							        <%#= link_to item_path(item2.id) do %>
								    <% if memory2.memory_photos.length == 0 %>
			                              <%= image_tag "/no_image.jpg" %>
			                          <% else %>
			                           <% memory2.memory_photos.each do |photo| %>
			                              <%= image_tag photo.image.url %>
			                          <% end %>
			                        <% end %>

										<div class="memory-name">
									        <%= memory4.user.nickname %>
									    </div>

										<div class="memory-post-date">
											<%= memory4.post_date %>
										</div>

										<div class="memory-spot">
									        <%= memory4.spot %>
									    </div>

									    <div class="memory-title">
									        <%= memory4.title %>
									    </div>

									    <div class="memory-body">
									        <%= memory4.body %>
									    </div>
								    <% end %>

							    </td>
						  </tr>
						</tbody>
			        <% end %>
			</table>

			 <div class="memories-page"><%= paginate @memories %></div>

	  </div>
   </div>
</div>
