<div class="container">
  <div calss="row">
　  <%= form_for @memory do |f| %>

		<div class="field image">
		  <%= form_with(model: @memory, local: true) do |form| %>
		    <%= form.label '＜下枠をクリックして写真を選択＞' %>

		       <!--id "file"で、fileとdivを紐付けクリック時に連動 -->
		       <div id="img_field" onClick="$('#file').click()" >

		        <!-- 画像があるときは画像を表示する -->
		        <% if @memory.memory_photos.first.image.url.present? %>
		          <%= image_tag(@memory.memory_photos.first.image.url) %>
		        <% else %>
		          <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
		        <% end %>

		       </div>
	              <!-- id "file"をつけ、「display:none;」で隠す -->
		          <%= form.file_field :image, class: "image", style: "display:none;", id: "file"%>
		  <% end %>
		</div>
          <%= f.hidden_field :user_id, :value => @user_id %>
		    <div class="memory-date">
　　　　　　　  <%= @memory.created_at %>
		    </div>

			<div class="memory-place-label">
			  <%= f.label :spot, 'Place' %>
			</div>
			<div class="memory-place-box">
			  <%= f.text_field :spot %>
			</div>
			<div class="memory-title-label">
			  <%= f.label :title, 'Title' %>
			</div>
			<div class="memory-title-box">
		      <%= f.text_field :title %>
			</div>
			<div class="memory-text-label">
		      <%= f.label :body, 'Text' %>
		    </div>
		    <div class="memory-text-box">
			  <%= f.text_area :body %>
			</div>
			<div class="memory-post">
		      <%= f.submit '投稿', class:'btn btn-warning' %>
		    </div>
    <% end %>
  </div>
</div>