<div class="bg-color-gray h-100">
	<% if flash[:notice] %>
	  <div class="flash">
	    <%= flash[:notice] %>
	  </div>
	<% end %>
	<div class="row">
	  <div class="bg-box-white">
		<div class="post-show-img">
			<% if @memory.present? %>
		      <% if @memory.memory_photos.length == 0 %>
		        <%= image_tag "/no_image.jpg", :size => '600x350' %>
		    <% else %>
		      <% @memory.memory_photos.each do |photo| %>
		        <%= image_tag photo.image.url, :size => '600x350' %>
		      <% end %>
		    <% end %>
		</div>

		<div class="post-show-name">
		    <%= link_to @memory.user.nickname,  post_path(@memory.user), :style=>"color:#000000;" %> ’s Post
		</div>

		<div class="post-show-date-label">Date / ﾄｳｺｳﾋﾞ</div>

		<div class="post-show-date">
			<%= l(@memory.created_at, format: :short) %>
		</div>

		<div class="post-show-spot-label">Location / ﾛｹｰｼｮﾝ</div>

		<div class="post-show-spot">
		    <%= @memory.spot %>
		</div>

		<div class="post-show-title-label">Title / ﾀｲﾄﾙ</div>

		<div class="post-show-title">
		    <%= @memory.title %>
		</div>

		<div class="post-show-body-label">Content / ﾅｲﾖｳ</div>

		<div class="post-show-body">
		  <div id="text-container" style="height: 170px; width: 1070px; overflow: scroll; margin: 20px; padding: 10px; background-color:#FFF;">
		    <%= @memory.body %>
		  </div>
	    </div>
		<% end %>
	  </div>
    </div>
</div>

<% if current_user == @memory.user %>
<div class="post-show-link-edit">
　　<i class="fa fa-edit"></i> <%= link_to 'Edit', edit_memory_path(@memory), :style=>"color:#000000;" %> |
</div>
<div class="post-show-link-destroy">
　　<i class="far fa-trash-alt"></i> <%= link_to 'Destroy', memory_path, method: :delete, data: { confirm: '本当に消しますか?' }, :style=>"color:#000000;" %>
</div>
<% end %>

<div class="other-post">
<%= link_to 'See other posts', post_path(@memory.user), :style=>"color:#000000;" %> <i class="far fa-arrow-alt-circle-right"></i>
</div>

