<div class="signup-bg-img">
  <div class="container">
    <div class="row">

      <%# autofocus="true"とは?Web画面上で自動的にフォーカスを入れるという設定,trueにすると生成されるinputタグにautofocus="autofocus"が追加される%>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="signup-form1">
          <div class="signup-nickname">
            <%= f.label :Nickname_ニックネーム %><br>
            <%= f.text_field :nickname, placeholder: "nickname", autofocus: true, class:"col-auto form-control form-control-lg" %>
          </div>

          <div class="signup-favorite-artist">
            <%= f.label :favorite_artist_好きなアーティスト %><br>
            <%= f.text_field :favorite_artists, placeholder: "limit 25", autofocus: true, class:"col-auto form-control form-control-lg" %>
          </div>

          <div class="signup-prefecture">
            <%= f.label :Residence_居住地 %><br>
            <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
          </div>

          <div class="signup-prefecture">
            <%= f.label :Introduction_自己紹介 %><br>
            <%= f.text_area :introduction, placeholder: "limit 75", autocomplete: "introduction", class:"col-auto form-control form-control-lg" %>
          </div>
        </div>

        <div class="signup-form2">

          <div class="signup-email">
            <%= f.label :Email_メールアドレス %><br>
            <%= f.email_field :email, placeholder: "email", autocomplete: "email", class:"col-auto form-control form-control-lg" %>
          </div>

          <div class="signup-password">
            <%= f.label :Password_パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br>
            <%= f.password_field :password, placeholder: "6 characters or more", autocomplete: "new-password", class:"col-auto form-control form-control-lg " %>
          </div>

          <div class="signup-password-check">
            <%= f.label :Password_パスワード（Confirm） %><br>
            <%= f.password_field :password_confirmation, placeholder: "confirmation", autocomplete: "new-password", class:"col-auto form-control form-control-lg" %>
          </div>
          <br>
          <div class="signup-image-position">
            <%= f.label :Foto_写真 %><br />
            <%= f.file_field :image %>
          </div>
        </div>

        <% if @user.errors.any? %>
          <div class="error_signup">
            <h5><%= @user.errors.count %> errors prohibited this obj from being saved:</h5>
            <ul class="error_messages">
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="signup-create-account">
          <%= f.submit "Create Account", class:"btn btn-info btn-lg" %>
        </div>
      <% end %>
    </div>
    <div class="test-user-signup" style="margin-bottom: 10px;">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.hidden_field :email, value: "test@test" %>
        <%= f.hidden_field :password, value: "testtest" %>
        <%= f.submit "Trial login / お試しログイン", class:"btn"%>
      <% end %>
    </div>
  </div>
</div>

